<div class="foot"> 
  <p1 class="nav">
    <strong>Goto: </strong>
    <a href="{{site.baseurl}}/"><i class="fa fa-fw fa-home"></i> Home</a> |
    <a href="{{location.href}}"><i class="fa fa-long-arrow-up"></i> Top</a>
  </p1>
  <br> 
  <p2 class="follow_links">
    <strong>Follow me on: </strong>
    <a href="https://www.facebook.com/shahzaib0273"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a> |
    <a href="https://github.com/HypertextAssassin0273"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a> |
    <a href="https://www.linkedin.com/in/shahzaibkhan0273"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
  </p2>
  <br>
  <br>
</div>  
